@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.tab-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  display: 'flex';
  justify-content: space-evenly;
  padding: 5px;
}
